@{
    ViewData["Title"] = "Home Page";
}
<h4>Escola</h4>

<table>
    <tr>
        <td>

        <a asp-action="Alunos" asp-controller="Home" class="btn btn-primary">Alunos</a>
        </td>
        <td>

        <a asp-action="Turmas" asp-controller="Home" class="btn btn-primary">Turmas</a>
        </td>
        <td>

            <a asp-action="TurmaAluno" asp-controller="Home" class="btn btn-primary">Turma Aluno</a>
        </td>
    </tr>
</table>

